/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/


.card__like-button:hover {
  cursor: pointer;
}

.card__like-button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  transform: scaleX(0);
  transition: transform 1s ease-out;
  left: 0px;
  top: 0px;
  transform-origin: left;
}

.card__like-button:hover:before {
  transform: scaleX(1);
}



.like-icon:hover .main-body {
  transition: fill 0.3s;
  fill: #000000;
  transition-delay: 0.05s;
}

.main-body {
  fill: #ffffff;
}

.like-icon:hover .core {
  transition: fill 0.3s;
  fill: #000000;
}

.core {
  fill: #ffffff;
}

/*
   .main-body {                            в обратной ситуации, когда курсор уходит, — с задержкой в 0.03s
   transition: fill 0.03s ease;
   fill: #ffffff;
   
  }

   .main-body:hover {
   fill: #000000;
   transition-delay: 0.05s;
  }

  .core {
    transition: fill 0.03s ease;
    fill: #ffffff;
  
  .core:hover {            
    fill: #000000;
  }
*/

.like-icon:active .main-body {
  transition: fill 0.3s;
  fill: #FF0000;
  transition-delay: 0.05s;
}

.like-icon:active .core {
  transition: fill 0.3s;
  fill: #FF0000;
}

.like-icon.is-liked .core {
  /*как при Active указано в шагах*/
  /* Клик */
  transition: fill 0.3s;
  fill: #FF0000;
}

.like-icon.is-liked .main-body {
  /*как при Active указано в шагах*/
  /* Клик */
  transition: fill 0.3s;
  fill: #FF0000;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s;
  fill: #FF0000;
  transition-delay: 0.06s;
  /* контур перекрашивается с задержкой 0.06s*/
}



@keyframes animationHeart {

  /*через 0.1s после появления класса is-liked в разметке. Длиться масштабирование должно 0.3s с с плавностью ease-in*/
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

.like-icon.is-liked .heart {
  animation: animationHeart 0.3s ease-in alternate;
  animation-delay: 0.1s;
  transform-origin: center;
}


@keyframes animationSparks {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.like-icon.is-liked .sparks {
  animation: animationSparks 0.3s ease-in alternate;
  animation-delay: 0.3s;
}


@keyframes menuButtons {
  0% {
    /*start position, start animation*/
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-10px);
  }
}

.theme-menu__button:disabled:before {
  animation: menuButtons 1s linear infinite alternate;
}