/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.button:hover {
  cursor: pointer;
}

.button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--button-background-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  left: 0px;
  top: 0px;
  transform-origin: left;
}

.button:hover:before {
  transform: scaleX(1);
}

.card__icon-button:focus-visible {
  /*контейнер с сердцем*/
  border: 2px solid;
  border-color: var(--border-color);
}


.like-icon:hover .main-body {
  transition: fill 0.3s linear;
  fill: #000000;
  transition-delay: 0.05s;
}

.main-body {
  /* основное тело сердца*/
  fill: var(--fill-main-body-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  transition: fill 0.3s linear;
  fill: #000000;
}

.core {
  /* сердцевина */
  fill: var(--fill-core-color);
  transition: fill 0.3s linear;
  transition-delay: 0.3s;
}

.contour {
  fill: var(--fill-contour-color);
  transition: fill 0.1s linear;
}

.like-icon:active .main-body {
  transition: fill 0.3s linear;
  fill: #FF0000;
  transition-delay: 0.05s;
}

.like-icon:active .core {
  transition: fill 0.3s linear;
  fill: #FF0000;
}

.like-icon.is-liked .core {
  /*как при Active указано в шагах*/
  /* Клик */
  transition: fill 0.3s linear;
  fill: #FF0000;
}

.like-icon.is-liked .main-body {
  /*как при Active указано в шагах*/
  /* Клик */
  transition: fill 0.3s linear;
  fill: #FF0000;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s linear;
  fill: #FF0000;
  transition-delay: 0.06s;
  /* контур перекрашивается с задержкой 0.06s*/
}

.like-icon .contour {
  transition: fill 0.3s; 
  fill: var(--fill-contour-color);
}


@keyframes animationHeart {

  /*через 0.1s после появления класса is-liked в разметке. Длиться масштабирование должно 0.3s с с плавностью ease-in*/
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

.like-icon.is-liked .heart {
  animation: animationHeart 0.3s ease-in alternate;
  animation-delay: 0.1s;
  transform-origin: center;
}


@keyframes animationSparks {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.like-icon.is-liked .sparks {
  animation: animationSparks 0.3s ease-in alternate;
  animation-delay: 0.3s;
}


@keyframes menuButtons {
  0% {
    /*start position, start animation*/
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-10px);
  }
}

.theme-menu__button:disabled:before {
  animation: menuButtons 1s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: width 300ms, background-color 300ms;
  position: absolute;
  bottom: -2px;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  background-color: var(--button-disabled-color);
}