/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/


.card__like-button:hover {
    cursor: pointer;
    transition: background-color 1s ease-out; /* начинается быстро, заканчивается медленно, мне так видится ? */
    background-color:#000000; 
    /*transition: color margin-right 1s;    /*но как менять цвет именно на черный ?*/ /*https://developer.mozilla.org/ru/docs/Web/CSS/transition*/
    
  }

  .card__like-button:before {
    content: "";
    position: absolute;
    width: 100%; 
    height: 100%; 
    background-color: pink;
    transform: scaleX(1);
    transition: transform 1s ease-out;
  } 

.button__text {
    color: #000000;  /*начальный цвет текста - черный */
    
}
.button__text:hover {
    color: #ffffff;   /*ховер - меняется на белый + черная полоса */
    transition: color 1s;
     
}



 @keyframes menuButtons {
    0% {                          /*start position, start animation*/
      transform: translateX(0px);
    }

    100% {
      transform: translateX(-10px); 
    }
  }
  
  .theme-menu__button:disabled:before {
    animation: menuButtons 1s linear infinite alternate;
  }