/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  width: 700px;
  height: 368px;
  align-items: center;
}

.header_content {
  margin-top: 100px;
  margin-left: 370px;
  margin-right: 370px
  }

  .card {
    margin-top: 100px;
  }

  .p { 
    width: 646px;     /*не работает все кроме верхнего марджина*/
    height: 111px;
    margin-top: 27px;
    margin-left: 25px;  
  }

  .button {
    margin-top: 25px;
    justify-content: end; /*не работает*/
  }

  .footer {
    display: flex;
    justify-content: center;  /*cдвиг небольшой*/
    margin-top: 50px;
    width: 355px;
    height: 55px;
  }

/* градиенты
background-image: repeating-linear-gradient(угол 90? #d3d3d3, transparent 2px),  - одна полоска 2px слева направо #d3d3d3 и одна - transparent в светлой теме 
                  repeating-linear-gradient(#E7E7E7, #1A1A1A);  - второй градиент светлая тема цвета, сверху вниз

background-image: repeating-linear-gradient(угол ? #000, transparent), - в темной теме 
                  repeating-linear-gradient(#007f0c, #004306);    - второй градинет темная тема цвета

background-position
backgroung size
*/