/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  font-family: var(--main-font), sans-serif;
}

.header {                    
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  width: 700px;
  height: 368px;
  justify-self: center;
  align-items: center;
}

.header_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  .card {
    margin-top: 100px;
    margin-left: 372px;
  }

  .p { 
    width: 646px;     /*не работает все кроме верхнего марджина*/
    height: 111px;
    margin-top: 27px;
    margin-left: 25px;  
  }

  .card__like-button {          /*разобраться с указанными классами и бордер только для LIKE*/
    margin-top: 25px;
    justify-content: end; /*не работает*/
    border: 2px solid #000;     
  }

  .footer {
    display: flex;
    /*justify-content: center;  /*cдвиг небольшой*/
    margin-top: 50px;
    margin-left: 552px;  /*большой сдвиг ?*/
    width: 355px;
    height: 55px;
    font-family: var(--accent-font);
    font-size: 14px;              /*не работает*/
    border: 2px solid #000;
   }

  .floopy {
    width: 21px;
    height; 21px;
  }

/* SVG в футере у меня через img ? Но я увидела и другую запись...
<button type="button" class="footer__button"> 
<svg class="floopy" width="21" height="21" viewport="0 0 21 21">
<use href="./svg/floopy...."></use>
*/

/* градиенты
background-image: repeating-linear-gradient(угол 90? #d3d3d3, transparent 2px),  - одна полоска 2px слева направо #d3d3d3 и одна - transparent в светлой теме 
                  repeating-linear-gradient(#E7E7E7, #1A1A1A);  - второй градиент светлая тема цвета, сверху вниз

background-image: repeating-linear-gradient(угол ? #000, transparent), - в темной теме 
                  repeating-linear-gradient(#007f0c, #004306);    - второй градинет темная тема цвета

background-position
backgroung size
*/

/*
Для кнопки LIKE
button:hover{
   cursor: pointer;
}
button:focus{
outline: none;
}
.button:focus-visible {
  outline: 1px solid #000; надо ли ?
  box-shadow: 2px 2px #000;
}
button:active  - оно ? когда лайк поставлен

*/