/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  font-family: var(--main-font), sans-serif;
  background-image: repeating-linear-gradient(90deg, var(--repeating-gradient-color) 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, var(--repeating-gradient-color) 0 2px, transparent 2px 4px),
    linear-gradient(var(--gradient-color-start) 0.01%, var(--gradient-color-end));
  background-attachment: fixed;
  /*чтобы градиент не двигался*/
}

.header {
  /*ф-ии для вариативного*/
  display: flex;         
  flex-direction: column;
  border: 2px solid var(--border-color);
  width: 700px;
  justify-self: center;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  margin-top: 100px;
  color: var(--text-color);
  padding-top: 136px;
  padding-bottom: 25px;
}

.header_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font), sans-serif;
}

.title {
  font-size: 65px;    
}

.subtitle {
  font-size: 23px;
  margin-top: 20px;
}

.theme-menu__item {
  font-size: 14px;
}

.theme-menu__button {
  /*три кнопки*/
  background-color: transparent;
  border: none;
  position: relative;
  text-transform: uppercase;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  border: none;
}

.theme-menu__button:disabled {
  /*серое состояние после нажатия, это стиль для кнопки на которую кликаем*/
  color: var(--button-disabled-color);
}

.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  left: -15px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 25px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 696px;
  align-items: center;
  justify-self: center;
  margin-top: 102px;
  color: var(--text-color);
}

.card_container {
  position: relative;
}

.main {
  display: flex;
  gap: 50px;    
}

.main_picture {
  width: 696px;
  object-fit: contain;
  object-position: center;
}

.label {
  position: absolute;
  z-index: 1;
  color: rgb(0 0 0);
  opacity: 0.5; 
  mix-blend-mode: hard-light; 
  top: 25px;
  right: 25px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-weight: 400px;
  text-shadow: -1px 0 rgb(255 255 255), 0 1px rgb(255 255 255), 1px 0 rgb(255 255 255), 0 -1px rgb(255 255 255);
}

@supports((text-stroke: 1px rgb(255 255 255)) or (-webkit-text-stroke: 1px rgb(255 255 255))) {
  .label {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.title_preparation {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.78px;
  margin-left: 10px;
  font-variation-settings: 'wght' var(--font-weight);
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
}

.card_container {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.picture_filter_opacity {
  filter: opacity(0.8);
}

.picture_filter_blur {
  filter: blur(0.5rem);
}

.picture_filter_brightness {
  filter: brightness(120%);
}

.picture_filter_contrast {
  filter: contrast(30%);
}

.picture_filter_grayscale {
  filter: grayscale(0.8);
}

.picture_filter_sepia {
  filter: sepia(80%);
}

.picture_filters_invert_brightness {
  filter: invert(0.7) brightness(120%);
}

.text {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  font-variation-settings: 'wght' var(----font-weight-text);
}

.button_container {   /* heart and like */
  display: flex;    
  align-self: end;
  /*работает и без флекса, display block - по умолчанию*/
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  gap: 12px;
}

.button__text {
  color: var(--button-text-color);
  /*начальный цвет текста - черный */
  position: relative;
  z-index: 10;
  mix-blend-mode: difference;
}

.card__icon-button {          /* сердце */
  border: 2px solid transparent; 
  background-color: transparent;
  padding: 0px;
  height: 38px;
  transition: border-color 0.3s linear; 
}

.button {
  border: 2px solid var(--border-color);    
  background-color: var(--background-color);
  position: relative;
}

.card__like-button {
  /*LIKE button*/
  width: 130px;
  height: 38px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px var(--box-shadow-color);
}

.card__icon-button:focus {
  /*контейнер с сердцем*/
  outline: none;
}


.card__icon-button .card__like-button {
  border: 2px solid transparent;
}

.card__icon-button:hover {
  /*сердце*/
  cursor: pointer;
}

.card__icon-button:focus-visible {
  /*сердце*/
  outline: none;
}

.contour {
  fill: var(--fill-contour-color);
}

.sparks {
  opacity: 0;
}

.save_button_container {
  display: flex;
  height: 51px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  justify-self: center;  /*селф смотрит что у родителя body, выравнивает самого себя относительно родителя*/
  margin-top: 50px;
  background-color: var(--background-color);
  margin-bottom: 103px;
}

.save_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--text-color);
  width: 335px;
}

.floopy {        /* for container works 21 21 */ 
  width: 21px;
  height: 21px;
  fill: var(--text-color);
}

.floopy_save_button {
  mix-blend-mode: difference;
  fill: var(--button-text-color);
}

.dialog-window::backdrop {                  
  background-color: rgb(0 0 0/ 0.75);
}

.dialog-window[open] {        
  width: 353px;
  display: flex;               
  flex-direction: column;
  gap: 30px;
  color: var(--color-modal-window);
  background-color: var(--background-color-modal-window);
  padding: 30px;
}

.floopy-modal {
  width: 39px;
  height: 39px; 
}

.button_on_modal {   
  height: 38px; 
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.floopy_and_text {   /* дискета и вставить дискету */
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "PressStart2P", sans-serif;  
  font-size: 14px;   
  font-weight: 400; 
  line-height: 21px;
}

.put_floopy_text {   /* вставить дискету */
  width: 234px;
  text-transform: uppercase;
}


@media (width <=375px) {

  .header {
    width: 375px;
  }

  .main {
    width: 375px;
  }

  .main_picture {
    width: 371px;
  }

  .title {
    font-size: 49px;
  }

}

