/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: "Inter";             
    --accent-font: "PressStart2P"; 
    --background-color: #fff;
    --button-hover-light-color: rgb(0, 0, 0, 0.6);
    --border-color: #000000;
    --box-shadow-color: #000000;
    --repeating-gradient-color: #d3d3d3;
    --gradient-color-start: #e7e7e7;
    --gradient-color-end: #1a1a1a;
    --text-color: #000000;
    --menu-button-hover: rgb(0, 0, 0, 0.6);
} 